header {
    text-align: center;
}
main {
    text-align: center;
    font-size: 20px;
}
#increment {
    background-color:#ADD8E6;
    border-radius: 10px;
    font-size: 20px;
}
#increment:hover {
    background-color: #4ac3eb;
}
#score_home {
    background-color: #bebebe;
    
}